*{
  background-color: black;
}
nav ul {
    position: relative;
    z-index: 1;
    width: inherit;
    height: 60px;
  }
  
  nav ul li {
    line-height: 60px;
    padding: 0 20px;
    float: left;
    font-size: 26px;
    opacity: 0.6;
    color: red;
    cursor: pointer;
    transition: all 1s
  }
  
  .sidebar {
    position: absolute;
    top: 0;
    height: inherit;
    width: 300px;
    background-image: linear-gradient(to left, rgba(0,0,0,0.0), rgba(0,0,0,0.5));
    transition: left 1s;
  }
  
  .sidebar ul { width: inherit; }
  
  .sidebar ul li {
    margin: 50px 10px;
    padding: 10px;
    color: blue;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    opacity: 0.7;
    transition: all 1s;
  }
  
  .sidebar ul li:hover { opacity: 1; }
  
  .hide-sidebar { left: -300px; }
  
  .show-sidebar { left: 0; }
  
  .menu-clicked {
    transform: scale(1.25);
    opacity: 1;
  }
  
  .centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }