/*for whole body*/
.padd{
    background-color: rgb(166, 199, 241);
    overflow: hidden; 
    position: relative;
    padding-top:34px;
    margin: 0px;
  }
/*for div design*/
.box{
    background-color: white;
    width: 320px;
    border: 3px solid black;
    padding: 50px;
    margin: auto;
    align-items: center;
    position: relative;
    }
/* for input field design*/
input[type=email], input[type=password]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus{
    background-color: #ddd;
    outline: none;
  }
/* for submit button designing*/
.submitbtn{
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  /* for hover effect*/
  .submitbtn:hover{
    opacity:1;
  }